polkit.addRule(function(action, subject) {
    if (action.id === "org.xfce.session.xfsm-shutdown-helper" &&
        subject.isInGroup("sudo")) {
        return polkit.Result.YES;
    }
});
